<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Sondensucher Webinterface</title>
</head>
<body>
   <h1>Welcome to Sondensucher</h1>
   Anzahl der Sonden Datensätze {{APIStatsJson.sonden}} <br>
   Anzahl der Höhen Datensätze {{APIStatsJson.hoehen}} <br>
   Anzahl der Sonden Statistik Datensätze {{APIStatsJson.sonden_stats}} <br>
   Anzahl der Startorte Datensätze {{APIStatsJson.startorte}} <br>
   Anzahl der Startort Statistiken Datensätze {{APIStatsJson.startort_stats}} <br>
   <a href="sonden">Sonden</a><br>
   <a href="startorte">Startorte</a><br>
   <a href="empfaenger">Empfänger</a><br>
   <a href="https://github.com/woehrer12/sondensucher">Dokumentation</a><br>
</body>
</html>