<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Sondensucher Webinterface</title>
    <a href="/sonden">Zurück</a><br>
</head>
<body>
   <h1>{{id}}</h1>
   <table>
        <tr>
           <th>ID </th>
           <th>{{id}}</th>
        </tr>
        <tr>
            <th>Lat </th>
            <th>{{lat}}</th>
        </tr>
        <tr>
            <th>Lon </th>
            <th>{{lon}}</th>
        </tr>
        <tr>
            <th>Höhe </th>
            <th>{{hoehe}}</th>
        </tr>
        <tr>
            <th>Höhe über Grund </th>
            <th>{{hoeheoverground}}</th>
        </tr>
        <tr>
            <th>Server </th>
            <th>{{server}}</th>
        </tr>
        <tr>
            <th>Steigrate </th>
            <th>{{vgeschw}}</th>
        </tr>
        <tr>
            <th>Frequenz </th>
            <th>{{freq}}</th>
        </tr>        
        <tr>
            <th>Richtung </th>
            <th>{{richtung}}</th>
        </tr>
        <tr>
            <th>Geschwindigkeit </th>
            <th>{{geschw}}</th>
        </tr>
        <tr>
            <th>Sondenzeit </th>
            <th>{{time}}</th>
        </tr>
        <tr>
            <th>Durchschnittliche Steigrate </th>
            <th>{{vgeschposD}}</th>
        </tr>
        <tr>
            <th>Durchschnittliche Sinkrate</th>
            <th>{{vgeschnegD}}</th>
        </tr>
        <tr>
            <th>Maximale Höhe </th>
            <th>{{maxhoehe}}</th>
        </tr>
        <tr>
            <th>Startort </th>
            <th>{{startort}}</th>
        </tr>

   </table>


    <a href="https://radiosondy.info/sonde.php?sondenumber={{id}}"target="_blank">Radiosondy</a>

    <a href="https://tracker.sondehub.org/?sondehub=1#!mt=osm&mz=8&qm=6_hours&f=RS_{{id}}&q=RS_*;*chase"target="_blank">Sondehub</a>

    <a href="https://www.google.com/maps/@{{lat}},{{lon}},14z"target="_blank">Google Maps</a>

    <a href="https://aprs.fi/?call={{id}}&timerange=86400&tail=21600"target="_blank">APRS.fi</a>
   <br>
    <iframe
        src="/map?lat={{lat}}&?lon={{lon}}"
        width="600" 
        height="400" 
        name="SELFHTML_in_a_box">
    
        <p>Ihr Browser kann leider keine eingebetteten Frames anzeigen:
        Sie können die eingebettete Seite über den folgenden Verweis aufrufen: 
        <a href="https://wiki.selfhtml.org/wiki/Startseite">SELFHTML</a>
        </p>
    </iframe>

</body>
</html>
